h1,
h2,
h3,
h4,
h5,
h6,
.post h1,
.post h2,
.post h3,
.post h4,
.post h5, 
.post h6 {
	font-weight: bold;
}

li {
	margin-bottom: 8px !important;
}

.post h2 {
	margin-bottom: 7px;
	margin-top: 24px !important;
}

.post h3 {
	margin-bottom: 7px;
}

.post h4 {
	margin-bottom: 4px !important;
}

.post p {
	margin-bottom: 20px;
	margin-top: 0;
}

p a,
li a,
td a {
	border-bottom: 1px dotted #a00;
	color: #a00;
}



.site-nav {
	background-color: #a00;
	min-height: 40px;
}

.site-nav ul {
	margin: 0;
	overflow: auto;
	padding: 0;
	text-align: center;
}

.site-nav li {
	display: inline-block;
	list-style-type: none;
}

.site-nav li a {
	color: #fff;
	display: block;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	margin: 5px 10px;
	padding: 5px;
}

.align-right {
	float: right;
	margin: 25px 0 25px 25px;
	width: auto;
}

.align-right p {
	display: block;
	font-style: italic;
	margin: 0;

}

.hilite {
	color: #a00;
}

.center {
	display: block;
	text-align: center;
}

hr {
	border-top: 1px #222 solid;
}


table {
	border-left: 1px #444 solid;
	border-top: 1px #444 solid;
	margin: 5px 0 15px;
}

th,
td {
	border-bottom: 1px #444 solid;
	border-right: 1px #444 solid;
	padding: 5px 10px 10px;
}

th {
	text-align: left;
	background-color: #444;
	color: #fff;
	padding: 5px 40px 10px 10px;
}

blockquote {
  border-left: 4px solid #dddddd;
  margin-left: 0;
  padding: 0 15px;
  color: #777777;
  line-height: 1.75;
}

  blockquote > :first-child {
    margin-top: 0; }
  blockquote > :last-child {
    margin-bottom: 0; }


abbr[title] {
	border-bottom: 1px dotted;
	border-color: #777;
	text-decoration: 0;
}